* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.mainlinks {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  display: block;
}

.titlename a:link,
.titlename a:visited {
  text-decoration: none;
  color: #FFFFFF
}

.mainlinks a:link, 
.mainlinks a:visited {
  color:#0088a9;
}

.container {
  padding: 1.5rem;
  color: #fafafa;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #23272a;
  color: #FFFFFF;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.titlename {
  font-size: 1.5rem;
  margin-right: 1rem;
  vertical-align: top;
}

.rawrz {
  margin: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.vl {
  border-collapse: collapse;
  border-left: 1.5px solid #FFFFFF;
  border-right: 1.5px solid #FFFFFF;
  height: 2rem;
}

.navbar-links ul {
  margin: 0;
  margin-left: 0.4rem;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #0088a9;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media (max-width: 820px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links,
  .vl {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.titlehead {
  padding-right: 1rem;
  padding-left: 1rem;
}

#left {
  width: 400px;
  padding-right: 1rem;
  padding-left: 1rem;
}

#right {
  width: 400px;
  padding-right: 1rem;
  padding-left: 1rem;
}

th span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: center;
}

.view {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 753px;
}

.tableregen {
  width: 100%;
  position: relative;
  overflow: auto;
  white-space: nowrap;
  border-spacing: 0px;
}

div.tableregen table,
div.tableregen th,
div.tableregen td {
  border: 1px solid;
  border-color: rgba(0,0,0,0.6);
  border-width: 0.01em;
  border-collapse:separate;
  border-spacing: 0px;
  text-align: center;
}

.tableregen table,
.tableregen th {
  background-color: #e6b8af;
}

.sticky-first-col {
  position: -webkit-sticky;
  position: sticky;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  left: 0px;
  background-color: #6d9eeb !important;
}

.sticky-second-col {
  position: -webkit-sticky;
  position: sticky;
  width: 24.58px;
  min-width: 24.58px;
  max-width: 24.58x;
  left: 50px;
}

#table td {
  width: 60px;
  font-size: 14px;
  height: 21px;
  padding: 4px;
  background-color: #e6b8af;
}

#header-ms {
  background-color: #8e7cc3 !important;
  font-size: 40px;
}

#header-lb,
#header-lb span {
  background-color: #6d9eeb;
  font-size: 40px;
}

table.stats input {
  display: inline;
  text-align: center;
  background: transparent;
  border: none;
  width: 100%;
}

select {
  display: inline;
  background: transparent;
  margin-left: 5px;
  border: 1px solid;
  width: 100%;
  border: none;
  text-align: center;
}

td.stat,
td.stat span {
  background-color: #93c47d;
  height: 20px;
}

td.statinput {
  background-color: #b6d7a8;
}

div.tablestats table,
div.tablestats th,
div.tablestats td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;
  table-layout: auto;
  width: 100%;
}

div.suggestion table,
div.tablestats th,
div.tablestats td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;
  table-layout: auto;
  width: 100%;
}

table.suggestion th {
  background-color: #e69138;
  border: 1px solid;
  font-size: 14px;
}

table.suggestion td {
  background-color: #f9cb9c;
  border: 1px solid;
  text-align: center;
  height: 24px;
}

table.suggestion {
  width: 400px;
}

button.regenbtn {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 20px;
}

button.regenbtn:hover {
  background-color: #3e8e41
}

button.regenbtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.suggestbtn {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ab6d03;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 20px;
}

button.suggestbtn:hover {
  background-color: #99602e
}

button.suggestbtn:active {
  background-color: #99602e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table.stats,
table.stats td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
  table-layout: auto;
  width: 200px;
}

div.suggestion table.stats,
div.suggestion table.stats td {
  height: 45px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus {
    outline: none;
}

.group-1 {
  background-color: #cc4125 !important;
}

.group-2 {
  background-color: #ea9999 !important;
}

.group-3 {
  background-color: #f6b26b !important;
}

.group-4 {
  background-color: #ffd966 !important;
}

.group-5 {
  background-color: #fff2cc !important;
}

.group-6 {
  background-color: #b6d7a8 !important;
}

.group-7 {
  background-color: #6aa84f !important;
}

.group-8 {
  background-color: #3c78d8 !important;
}

.group-9 {
  background-color: #6d9eeb !important;
}

.group-10 {
  background-color: #9fc5e8 !important;
}

.group-11 {
  background-color: #b4a7d6 !important;
}

.group-12 {
  background-color: #8e7cc3 !important;
}

.group-13 {
  background-color: #d5a6bd !important;
}

.group-14 {
  background-color: #a64d79 !important;
}

.group-15 {
  background-color: #999999 !important;
}